# Copyright (C) 2020 Hello Tham <info@hellotham.com>
# Copyright (C) 2020 Chris Tham <chris.tham@hellotham.com>
#
# Project:    Rosely
# Repository: https://github.com/hellotham/rosely
# License:    MIT

# +--------------------+
# + Base Configuration +
# +--------------------+
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

# +----------------+
# + Color Swatches +
# +----------------+
[/src/swatches/*.{aco,ase,clr,gpa,gpl,mtl}]
charset = none
end_of_line = none
indent_size = none
indent_style = none
insert_final_newline = false
max_line_length = none
trim_trailing_whitespace = false

# +-----------+
# + Languages +
# +-----------+
# +--- Markdown ---+
[*.{md}]
trim_trailing_whitespace = false
