# Copyright (c) 2016-present Sven Greb <development@svengreb.de>
# This source code is licensed under the MIT license found in the license file.

# Configurations for EditorConfig.
# See https://editorconfig.org/#file-format-details for more details.

# +--------------------+
# + Base Configuration +
# +--------------------+
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 160
trim_trailing_whitespace = true

# +----------------+
# + Color Swatches +
# +----------------+
[/src/swatches/*.{aco,ase,clr,gpa,gpl,mtl}]
charset = none
end_of_line = none
indent_size = none
indent_style = none
insert_final_newline = false
max_line_length = none
trim_trailing_whitespace = false

# +-----------+
# + Languages +
# +-----------+
# +--- Markdown ---+
[*.{md}]
max_line_length = off
trim_trailing_whitespace = false
