# +--------------------+
# + Base Configuration +
# +--------------------+
[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 160
trim_trailing_whitespace = true

# +-----------+
# + Languages +
# +-----------+
# +--- Markdown ---+
[*.{md,gfm}]
trim_trailing_whitespace = false

# +-----------------------+
# + Native Color Palettes +
# +-----------------------+
[/src/native/*.{aco,ase,clr,gpa,gpl,mtl}]
charset = none
end_of_line = none
indent_size = none
indent_style = none
insert_final_newline = false
max_line_length = none
trim_trailing_whitespace = false
