# Copyright (c) 2016-present Sven Greb <development@svengreb.de>
# This source code is licensed under the MIT license found in the license file.

# Configuration to define attributes per path.
# References:
#   1. https://git-scm.com/docs/gitattributes
#   2. https://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes#Keyword-Expansion

# Automatically perform line feed (LF) normalization for files detected as text and
# leave all files detected as binary untouched.
* text=auto eol=lf

# +----------------------+
# + Adobe Creative Suite +
# +----------------------+
# Color Swatch Exchange
*.ase binary

# +-----------------+
# + Adobe Photoshop +
# +-----------------+
# Color Palette
*.aco binary

# +--------+
# + Assets +
# +--------+
*.png binary

# +---------------+
# + GIMP/Inkscape +
# +---------------+
# Color Palette
*.gpl text eol=lf
# Project Map
*.xcf binary

# +-------+
# + Gpick +
# +-------+
# Color Palette
*.gpa binary

# +-------+
# + macOS +
# +-------+
# Color Palette
*.clr binary
