# +---------+
# + Node.js +
# +---------+
node_modules
npm-debug.log*
.npm/
*.log
# Runtime data
pids
*.pid
*.seed
*.pid.lock

# +-------------------+
# + Project Structure +
# +-------------------+
build

# +------+
# + Sass +
# +------+
.sass-cache
*.css.map

# +----------+
# + WebStorm +
# +----------+
.idea/*
!.idea/*.iml
!.idea/runConfigurations
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
