; Copyright (C) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
; Copyright (C) 2016-present Sven Greb <development@svengreb.de>
;
; Project:    Nord
; Repository: https://github.com/arcticicestudio/nord
; License:    MIT

package-lock=true
save-exact=true
