; Copyright (C) 2020 Hello Tham <info@hellotham.com>
; Copyright (C) 2020 Chris Tham <chris.tham@hellotham.com>
;
; Project:    Rosely
; Repository: https://github.com/hellotham/rosely
; License:    MIT

package-lock=true
save-exact=true
